{% extends "layout.html" %}

{% block page_title %}
  Select property
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/pages/2">Back</a>

      <h1 class="heading-large">
        Select your property
      </h1>

      {% set properties = [
        '300 Creek Road, Greenwich, SE10 9SW',
        '296 Creek Road, Greenwich, SE10 9SW',
        '298 Creek Road, Greenwich, SE10 9SW',
        '302A Creek Road, Greenwich, SE10 9SW',
        '302B Creek Road, Greenwich, SE10 9SW',
        '304 Creek Road, Greenwich, SE10 9SW',
        '306 Creek Road, Greenwich, SE10 9SW',
        'Nautical House, Creek Road, Greenwich, SE10 9SW',
        'Flat A 310, Creek Road, Greenwich, SE10 9SW',
        'Flat B 310, Creek Road, Greenwich, SE10 9SW'
      ] %}

      <p>
        We found {{ properties | length }} properties at this postcode.
      </p>

      <ul class="list list-bullet">
        {% for address in properties %}
          <li>
            <a href="/pages/4?property={{ address }}">{{ address }}</a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</main>

{% endblock %}
