{% extends "layout.html" %}

{% block page_title %}
  Check your details
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a href="/app/olr/optmessage?method=changeOptMessage" class="link-back" title="Back">Back</a>

      <h1 class="heading-large">
        Check your details are correct
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Property details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Street address
          </dt>
          <dd class="cya-answer">
            32 Cheam Road
          </dd>
          <dd class="cya-change">
            <a href="/pages/3">
              Change<span class="visually-hidden"> street address</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Postcode
          </dt>
          <dd class="cya-answer">
            SE10 9SW
          </dd>
          <dd class="cya-change">
            <a href="/pages/2">
              Change<span class="visually-hidden"> postcode</span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="heading-medium">
        Contact information
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Phone number
          </dt>
          <dd class="cya-answer">
            07700 900 123
          </dd>
          <dd class="cya-change">
            <a href="/pages/4">
              Change<span class="visually-hidden"> phone number</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="heading-medium">Now sign up for flood alerts</h2>
      <h2 class="heading-small text">What we will do</h2>
      <p class="text">We will try to send the flood warning you have asked for. When we do that, we'll do what is reasonable, but we can't guarantee it will be sent or arrive. Warnings may be sent at any time of the day or night.</p>
      <h2 class="heading-small text">We do not:</h2>
      <ul class="list list-bullet text">
      <li>accept responsibility if you fail to receive a warning</li>
      <li>guarantee that our website or the phone lines will be available</li>
      <li>accept responsibility for any loss, damage or costs incurred by you caused by flooding, or by issuing or failing to issue warnings - except where the law says we must</li>
      </ul>
      <h2 class="heading-small text">You are responsible for:</h2>
      <ul class="list list-bullet text">
      <li>making sure that the contact details you give us are correct</li>
      <li>telling us about any changes</li>
      </ul>
      <h2 class="heading-small text">We may use the personal information you give us to:</h2>
      <ul class="list list-bullet text">
      <li>send you the warnings you have signed up for</li>
      <li>send you a small number of service announcements or administrative messages</li>
      <li>help emergency services and local councils respond to flooding</li>
      <li>help with our work on flood warning and flood risk management</li>
      <li>respond to freedom of information requests (if data protection law allows it)</li>
      </ul>
      <p class="text">We may give your information to our agents or representatives, so they can do any of these things for us. And we may share your information with other organisations if the law says we must.</p>
      <p class="text">The Environment Agency manages the flood warning systems. Their <a target="_blank" href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter (opens new window)</a> explains how they deal with your information. Natural Resources Wales use the same systems and will have access to your personal information if you ask for a service in Wales. Read <a target="_blank" rel="external" href="http://naturalresources.wales/about-us/contact-us/request-information/privacy-statement/?lang=en">how Natural Resources Wales uses your personal information (opens new window)</a>.</p>
      <br>

      <div class="form-group">
        <div class="multiple-choice">
          <input type="checkbox" name="termsAccepted" value="on" id="termsAccepted" title="I agree to these terms and conditions" />
          <label for="termsAccepted">I agree to these terms and conditions</label>
        </div>
      </div>


      <div class="form-group">
        <a href="/pages/6" class="button">Continue</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
