{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="govuk-box-highlight">
    <h1 class="bold-large">
    Your flood warnings are set up
    </h1>
    <p></p>
  </div>
  <div class="grid-row">

    <div class="column-two-thirds">

      <p>
      <a href="?1" class="link" title="Add another location or extra contact numbers">Add another location or extra contact numbers</a>
      </p>


      <p>
      <a href="?2" class="link" title="Send me a test flood warning">Send me a test flood warning</a>
      </p>


      <!-- EA style feedback -->

      <p><a href="?3" class="link">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

</main>

{% endblock %}
